<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col mt-0">
                <h5 class="card-title">{{ title }}</h5>
            </div>
        </div>
        <h1 class="mt-1 mb-3">{{ value }}</h1>
        <div class="mb-0">
            <span [ngClass]="differential < 0 ? 'text-success' : 'text-danger'"> <i class="mdi mdi-clipboard-plus"></i> {{ differential | number: '.2-2'  }}% </span>
            <span class="text-muted">{{ description }}</span>
        </div>
    </div>
</div>