<style>

.hero__search {
	overflow: hidden;
	margin-bottom: 30px;
}

.hero__search__form {
	width: 610px;
	height: 50px;
	border: 1px solid #ebebeb;
	position: relative;
	float: left;
}

.hero__search__form form .hero__search__categories {
	width: 30%;
	float: left;
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 700;
	padding-left: 18px;
	padding-top: 11px;
	position: relative;
}

.hero__search__form form .hero__search__categories:after {
	position: absolute;
	right: 0;
	top: 14px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.hero__search__form form .hero__search__categories span {
	position: absolute;
	right: 14px;
	top: 14px;
}

.hero__search__form form input {
	width: 70%;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
}

.hero__search__form form input::placeholder {
	color: #b2b2b2;
}

.hero__search__form form button {
	position: absolute;
	right: 0;
	top: -1px;
	height: 50px;
}

.hero.hero-normal {
	padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
	position: relative;
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

#inner {
	width: 50%;
	margin: 0 auto;
}

.site-btn {
	font-size: 14px;
	height: 60px;
	width: 200px;
	text-align: center;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	align-items: center;
	background: #2054a3;
	border: none;
}

#search {
	margin-top: 50px;
	margin-bottom: 50px;
}

.main {
    background-color: rgb(148, 156, 230);
}

</style>

<div class="wrapper">

	<div class="main">

		<main class="content">
			<div class="container-fluid p-0">

				<h1 class="h3 mb-3" style="width: 100%; text-align: center;"><strong>COVID-19</strong> Incidence</h1>

				<div class="container" id="search">
					<div class="hero__search" id="inner">
						<div class="hero__search__form">
							<form method="GET" (ngSubmit)="getCountryHistory()">
								<input type="text" [(ngModel)]="country"  placeholder="Search by country (e.g. Portugal, USA)" name="country">
								<button type="submit" class="site-btn" name="searchbtn">Search</button>
							</form>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-12 col-xxl-12 d-flex">
						<div class="w-100">
							<div class="row">
								<div class="col-sm-3">

									<app-statistic [title]="'New cases'" [value]="statistics[0].newCases" [differential]="0" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
									<app-statistic [title]="'New critical'" [value]="statistics[0].newCritical" [differential]="1" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
								</div>
								<div class="col-sm-3">
									<app-statistic [title]="'Active cases'" [value]="statistics[0].active" [differential]="2.82" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
									<app-statistic [title]="'Total cases'" [value]="statistics[0].totalCases" [differential]="1.12" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
								</div>
								<div class="col-sm-3">
									<app-statistic [title]="'Recovered'" [value]="statistics[0].recovered" [differential]="0" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
									<app-statistic [title]="'Total tests'" [value]="statistics[0].totalTests" [differential]="1" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
								</div>
								<div class="col-sm-3">
									<app-statistic [title]="'New deaths'" [value]="statistics[0].newDeaths" [differential]="0" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
									<app-statistic [title]="'Total deaths'" [value]="statistics[0].totalDeaths" [differential]="1" [description]="'since the last 24 hours'" [icon]="'mdi mdi-clipboard-plus'"></app-statistic>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-6 col-xxl-7">
						<app-graph></app-graph>
					</div>

				</div>

				<div class="row">
					<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
						<app-distribution></app-distribution>
					</div>
					<div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
						<app-calendar></app-calendar>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-12 col-xxl-12 d-flex">
						<div class="card flex-fill">
							<div class="card-header">

								<h5 class="card-title mb-0">Latest Projects</h5>
							</div>
							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>Name</th>
										<th class="d-none d-xl-table-cell">Start Date</th>
										<th class="d-none d-xl-table-cell">End Date</th>
										<th>Status</th>
										<th class="d-none d-md-table-cell">Assignee</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Project Apollo</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-success">Done</span></td>
										<td class="d-none d-md-table-cell">Vanessa Tucker</td>
									</tr>
									<tr>
										<td>Project Fireball</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-danger">Cancelled</span></td>
										<td class="d-none d-md-table-cell">William Harris</td>
									</tr>
									<tr>
										<td>Project Hades</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-success">Done</span></td>
										<td class="d-none d-md-table-cell">Sharon Lessman</td>
									</tr>
									<tr>
										<td>Project Nitro</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-warning">In progress</span></td>
										<td class="d-none d-md-table-cell">Vanessa Tucker</td>
									</tr>
									<tr>
										<td>Project Phoenix</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-success">Done</span></td>
										<td class="d-none d-md-table-cell">William Harris</td>
									</tr>
									<tr>
										<td>Project X</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-success">Done</span></td>
										<td class="d-none d-md-table-cell">Sharon Lessman</td>
									</tr>
									<tr>
										<td>Project Romeo</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-success">Done</span></td>
										<td class="d-none d-md-table-cell">Christina Mason</td>
									</tr>
									<tr>
										<td>Project Wombat</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td><span class="badge bg-warning">In progress</span></td>
										<td class="d-none d-md-table-cell">William Harris</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</main>

		<footer class="footer">
			<div class="container-fluid">
				<div class="row text-muted">
					<div class="col-6 text-start">
						<p class="mb-0 text-muted">
							<strong>TQS</strong> - 2021/2022
						</p>
					</div>
					<div class="col-6 text-end">
						<p>Ricardo Rodriguez</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>


